@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap");
:root {
  --color-red: #993232;
  --color-headers: #00ccc0;
  --color-dark-bg: #333;
  --color-text: #3a3a3a;
  --color-dark-text: #303030;
  --color-background: #fafafa;
  --color-table-header-background: #ededed;
  --color-code-background: #fff;
  --color-code-border-color: #dfdfdf;
  --color-invert-filter: none;
}

body {
  font-family: "Mulish", sans-serif;
}

[data-md-type=navigation] {
  font-family: "Roboto Condensed", sans-serif;
}

.logo1,
.logo2 {
  display: none;
}

@media screen and (min-width: 800px) {
  .logo1 {
    width: 182px;
    height: 50px;
    margin: 20px auto;
    display: block;
    position: fixed;
    right: 10px;
    bottom: 0px;
    background-image: url("https://raw.githubusercontent.com/nirgeier/labs-assets/main/assets/images/codeWizard.png");
    background-size: cover;
    background-position: center;
  }
  .logo2 {
    width: 200px;
    height: 50px;
    margin: auto 20px;
    display: block;
    position: fixed;
    left: 30px;
    bottom: 25px;
    background-image: url("../images/commit.png");
    background-size: cover;
    background-position: center;
    border-radius: 15px;
  }
}
/* Remove focus-within styles globally */
*:focus-within {
  outline: none !important;
  box-shadow: none !important;
}

.md-typeset ol li,
.md-typeset ul li {
  margin: 0;
}

/* Change border color, width, and style for all notes */
.md-typeset .admonition.note,
.md-typeset details.note {
  border: 1px solid #0074d9; /* Change color and style as needed */
  border-radius: 8px; /* Optional: rounded corners */
  box-shadow: none; /* Optional: remove shadow */
}

.md-theme-light .md-typeset img,
.md-theme-light .md-typeset svg,
.md-theme-light .md-typeset video {
  border-radius: 10px;
}

.md-typeset h1 {
  font-size: 2em;
  line-height: 1.5;
  margin: 0px 0px 0em;
}

.md-typeset h2 {
  font-size: 1.5em;
  line-height: 1.5;
  margin: 0px 0px 0em;
}

.md-nav,
.md-typeset {
  font-size: 16px;
}

.md-typeset table {
  line-height: 0.25rem;
}

/* Force sidebar to be visible alongside tabs */
.md-sidebar {
  display: block !important;
}

/* Make sure content area doesn't overlap */
.md-main__inner {
  display: grid;
  grid-template-columns: minmax(250px, 300px) 1fr;
}

/* Hide sidebar items that are not in the active tab */
.md-nav__list > .md-nav__item--nested:not(.md-nav__item--active) {
  display: none;
}

[data-md-color-media="(prefers-color-scheme: dark)"] {
  background-color: #000e14;
  color: #f2f2f2;
  /* When URL contains 'api' */
}
[data-md-color-media="(prefers-color-scheme: dark)"] .md-typeset .admonition.note,
[data-md-color-media="(prefers-color-scheme: dark)"] .md-typeset details.note {
  border: 1px solid rgba(0, 0, 0, 0.1); /* Change color and style as needed */
  border-radius: 10px; /* Optional: rounded corners */
  box-shadow: 0 0 1px whitesmoke;
}
[data-md-color-media="(prefers-color-scheme: dark)"] .md-typeset h1 {
  color: #f2a71b;
}
[data-md-color-media="(prefers-color-scheme: dark)"] .md-typeset h2,
[data-md-color-media="(prefers-color-scheme: dark)"] .md-typeset h3,
[data-md-color-media="(prefers-color-scheme: dark)"] .md-typeset h4,
[data-md-color-media="(prefers-color-scheme: dark)"] .md-typeset h5 {
  color: var(--color-headers);
}
[data-md-color-media="(prefers-color-scheme: dark)"] body[data-path*="02"] .md-content {
  background-color: #f8f9fa;
  border-left: 4px solid #28a745;
}
[data-md-color-media="(prefers-color-scheme: dark)"] .md-nav--lifted > .md-nav__list > .md-nav__item--active > .md-nav__link {
  background: transparent;
  box-shadow: none;
}
[data-md-color-media="(prefers-color-scheme: dark)"] .headline {
  color: var(--color-headers);
}
[data-md-color-media="(prefers-color-scheme: dark)"] .white-text {
  color: #f7d078 !important;
}
[data-md-color-media="(prefers-color-scheme: dark)"] .md-typeset table {
  line-height: 1.25em !important;
}

@media print {
  /*
   * --------------------------------------------------
   * Core Print Styles
   * --------------------------------------------------
   */
  /* Resetting theme colors for print to ensure black text on a white background */
  /* Define the page properties, such as size and margins */
  @page {
    size: A4 portrait;
    margin: 2.5cm;
    @top-center {
      /* Define a custom string for the document title */
      content: "GitHub Workshop Aug 2025 [Atera by Nir Geier]"; /* Simple string for the header */
      font-size: 12px;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      color: #777;
    }
    @bottom-center {
      /* Display "Page X of Y" in the footer */
      content: "@CodeWizard / CommitAI - Page " counter(page) " of " counter(pages);
      font-size: 12px;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      color: #777;
    }
  }
  /* Remove all empty pages */
  @page :blank {
    display: none;
  }
  /*
   * --------------------------------------------------
   * Enhancing Legibility
   * --------------------------------------------------
   */
  /* Set a readable font size and line height for the body text */
  body {
    font-size: 12pt;
    line-height: 1em;
    color: #000 !important;
  }
  /* Remove the display of URLs in parentheses after links */
  a:after {
    content: none;
  }
  /* Disable the color on links to keep them black for printing */
  a {
    color: #000 !important;
  }
  /* Ensure the main content takes up the full width of the page */
  .md-main__inner {
    max-width: none;
  }
  /* Make sure all content is visible and takes up the full width of the page. */
  .md-main {
    margin: 0;
    padding: 0;
  }
  /*
   * --------------------------------------------------
   * Managing Page Breaks
   * --------------------------------------------------
   */
  /* Prevent page breaks inside of code blocks, tables, and images to keep them together */
  .highlight,
  pre,
  table,
  img {
    -moz-column-break-inside: avoid;
         break-inside: avoid;
  }
  /* Remove page breaks before and after headers and sections */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  section {
    -moz-column-break-before: auto;
         break-before: auto;
    -moz-column-break-after: auto;
         break-after: auto;
  }
  emsp {
    padding: 0 5px 0 0;
  }
  /*
   * --------------------------------------------------
   * Hiding Non-Essential Elements
   * --------------------------------------------------
   */
  /* Hide the header, footer, navigation bars, and any interactive elements */
  .md-footer,
  .md-header,
  .md-nav,
  .md-search__form,
  .md-sidebar,
  .md-tabs,
  .md-top,
  header,
  nav {
    display: none !important;
  }
  .md-source-file nav {
    display: block !important;
  }
  /* Ensure main content takes full width in PDF */
  .md-content {
    margin: 0 !important;
    padding: 0 !important;
    width: 100% !important;
    max-width: 100% !important;
    box-shadow: none !important;
    font-size: 12px !important;
  }
  /* Optional: make links look like plain text */
  a {
    color: black;
    text-decoration: none;
  }
  .md-main__inner {
    display: block;
  }
}